<!-- start of Subscribe section and Confirm button -->
<div id="subscribe">
    <form id="subscribeForm"> 
        <label id="subscribeTitle" for="emailInput">SUBSCRIBE TO NEWSLETTER:</label>
        <!-- email Input -->
        <input type="email" 
               onfocus="this.value=''" 
               value=" ENTER EMAIL ADDRESS" 
               id="emailInput" 
               name="emailInput">
        <!-- CONFIRM button -->
        <button onclick="subscribed()" 
                id="subButton">CONFIRM
        </button>
    </form>
    <!-- end of Subscribe section and Confirm button -->
</div>

<!-- start of Footer -->
<footer>
    <!-- start of "CONTACT US" section-->
    <ul id="contact">
        <!-- inserts tittle -->
        <li id="contractTitle"><b>EMAIL CONTACT</b></li>
        <!-- inserts Email hyperlink -->
        <li>
            <a href="mailto:contact@cryptonews.gg">contact@cryptonews.gg</a>
        </li>
        <!-- end of "CONTACT US" section -->
    </ul>
    <!-- start of "OTHER INFO" section -->
    <ul id="info">
        <!-- T&Cs -->
        <li><a id="terms" href="../../media/termsAndConditions.pdf" target="_blank">Terms and Conditions</a></li>
    <!-- end of "OTHER INFO" section -->
    </ul>
    <!-- end of Footer section -->
</footer>