<html>
   <head>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <nav>
         <div id="control">
            <!-- Inserts hyperlinked to Home "LOGO" image -->
            <img id="logo" 
               alt="Logo" src="logo.png" 
               title="logo" >
            <!-- start of Nav Bar Links list -->
            <ul id="rightList">
               <!-- creates hyperlinked "AUTHOR.HOME" button -->
               <li class="navButton"><a id="nav1translate" href="/author">AUTHOR.HOME</a></li>
               <!-- creates hyperlinked "READER.HOME" button -->
               <li class="navButton"><a id="nav4translate" href="/reader">READER.HOME</a></li>
            </ul>
         </div>
      </nav>
      <div id="target">
        <!-- Shows login fields -->
         <h1 style="color: red;">
            <u style="text-decoration: underline">AUTHOR LOGIN</u>
         </h1>
         <form action="/login" method="post">
            <label for="password">PASSWORD:</label>
            <input type="password" id="password" name="password" required /><br><br>
            <button type="submit">Login</button>
         </form>
         <br><br>
         pass is  --->  author
      </div>
      <div id="footerTarget">
         <!-- start of Footer -->
         <footer>
            <ul id="contact">
               <li><b>DNW MIDTERM 2023</b></li>
            </ul>
         </footer>
   </body>
   </div>
</html>