<html>
   <head>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <nav>
         <div id="control">
            <!-- Inserts hyperlinked to Home "LOGO" image -->
            <img id="logo" 
               alt="Logo" src="logo.png" 
               title="logo" >
            <!-- start of Nav Bar Links list -->
            <ul id="rightList">
               <!-- creates hyperlinked "AUTHOR.HOME" button -->
               <li class="navButton"><a id="nav1translate" href="/author">AUTHOR.HOME</a></li>
               <!-- creates hyperlinked "AUTHOR.SETTINGS" button -->
               <li class="currentPage"><a id="nav2translate" href="/settings">AUTHOR.SETTINGS</a></li>
               <!-- creates hyperlinked "READER.HOME" button -->
               <li class="navButton"><a id="nav4translate" href="/reader">READER.HOME</a></li>
            </ul>
         </div>
      </nav>
      <div id="target">
        <!-- renders Author Settings edit fields using EJS and button submit and go back -->
         <h1 style="color: red;">
            <u style="text-decoration: underline">AUTHOR SETTINGS PAGE</u>
         </h1>
         <form action="/settingsSave" method="get">
            <label>TITLE</label><br>
            <input type="text"  name="title"  style=" width: 350px;"   value='<%= settings.title %>' required><br><br>
            <label>SUBTITLE</label><br>
            <input type="text"  name="subtitle" style=" width: 350px;"  value='<%= settings.subtitle %>' required><br><br>
            <label>AUTHOR NAME</label><br>
            <input type="text"  name="name"   style=" width: 350px;"  value='<%= settings.name %>' required><br><br>
            <input type="submit" value="UPDATE SETTINGS">
         </form>
         <br><br>
         <button onclick="window.location.href='author';">GO BACK</button>
      </div>
      <div id="footerTarget">
         <!-- start of Footer -->
         <footer>
            <ul id="contact">
               <li><b>DNW MIDTERM 2023</b></li>
            </ul>
         </footer>
   </body>
   </div>
</html>